.container-fluid {
  padding: 0;
}
.navbar-toggler {
  border: none;
  margin-top: -9px;
}
.navbar-toggler:focus {
  box-shadow: 0;
  color: #fff;
}
.header {
  margin: auto;
  width: 80%;
}
.navbar-brand h2 {
  font-weight: 200;
  letter-spacing: 3px;
}
.nav-link {
  text-align: center;
}
