.speaking {
  padding: 10px 0;
}
.speaking-row {
  display: flex;
  flex-wrap: wrap;
}
.speaking .column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  height: auto;
}
.speaking .img {
  background-image: url("https://images.unsplash.com/photo-1600320844678-43cebba1cdfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.speaking h3 {
  font-weight: 300;
  padding-bottom: 10px;
}
.speaking p {
  font-weight: 300;
}
.speaking h4 {
  font-weight: 300;
  padding-bottom: 10px;
}
.speaking .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
}
.speaking .form textarea {
  height: 100px;
}
.speaking .form button {
  width: 70px;
  font-weight: 400;
  margin-top: 7px;
}

/* Media query's */

@media screen and (max-width: 600px) {
  .speaking-row {
    flex-direction: column;
  }
  .speaking .column {
    flex: 100%;
    max-width: 100%;
  }
  .speaking h3 {
    padding-top: 10px;
  }
}
